@charset "UTF-8";
/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
    --blanco: #303030;
    --sombra-ppal: #242424;
    --sombra-sec: #3c3c3c;
    --borde-negro: #FFFFFF50;
  }
}
/* Configuramos si un usuario ha activado el modo alto contraste. (BETA) */
/*
    Estilos generales para que las etiquetas no contengan propiedades
    que nos estorben y en todos los navegadores se vean correctamente
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

video {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}



::selection {
  background-color: var(--negro);
  color: var(--blanco);
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  /*--*/
  font-family: 'Still Time', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #98C0F9;
}

.carrousel {
  width: 90%;
  max-width: 120em;
  padding: 2em;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  overflow: hidden;
}

.carrousel .grande {
  width: 200%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  padding: 2em;
  transition: all 0.5s ease;
  transform: translateX(0%);
}

.carrousel .img {
  width: calc( 100% / 2 - 2em);
  min-height: 10vh;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .puntos {
  width: 100%;
  margin: 1em 0 0;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.carrousel .punto {
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .punto.activo {
  background-color: lightblue;
}
/*------------------------------------------------------------------*/

header {
  background-color: #030027;
  color: #aa9554;
  padding: 10px;
  text-align: center;
}
.container {
  max-width: 960px;
  margin: 20px auto;
  padding: 20px;
  background-color: #c7dcfc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: justify;
}
footer {
  font-family: 'Trajan Pro', sans-serif;
  background-color: #050437;
  color: #aa9554;
  text-align: center;
  padding: 10px;
}
/*-----------------------------------------------------*/
.outer-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 2px solid #080808;
}
.outer-table th,td {
  padding: 7px;
  text-align: left;
}
.outer-table th {
  background-color: darkblue;
  color: white;
  text-align: center;
  font-weight: bold;
}
.outer-table td {
  background-color: rgb(133, 132, 132);
  color: white;
  text-align: center;
  font-weight: bold;
}
.button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}